.img-fluid{
    width: 30px;
    height: 30px;
}
.navbar-brand{
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}
.btn-nav{
    background-color: orangered;
    border-radius: 10px;
    color: white !important;
    font-weight: bold;
}